__собираем объявления о продаже недвижимости в одну таблицу__

_Evgeny S. Borisov <parser@mechanoid.su>_

In [1]:
!date

Вт 15 окт 2024 11:54:01 MSK

In [2]:
from os import listdir
import re
import pandas as pd

In [3]:
data_root_folder = 'data/2024'
source = {
        'flat-arenda':[ data_root_folder+'/raw/flat-arenda/avito'],
        #  'flat':[data_root_folder+'/raw/flat/cian',data_root_folder+'/raw/flat/avito'],
        # 'house':[data_root_folder+'/raw/house/cian',data_root_folder+'/raw/house/avito'],
        #  'land':[data_root_folder+'/raw/land/cian',data_root_folder+'/raw/land/avito'],
    }

---

In [4]:
obj_type = 'flat-arenda'
files = [ f'{d}/{f}' for d in source[obj_type] for f in listdir(d) if f[-4:]=='.pkl' ]
display( len(files) )

cols = ['url','place','title','price','address','description','ts',]

df_flat = pd.concat([
        pd.read_pickle(f).drop_duplicates(['url'])
        for f in files
    ]).reset_index(drop=True)[cols]

display( len(df_flat) )
display(df_flat.sample(9))

1

888

,url,place,title,price,address,description,ts
30,https://www.avito.ru/1819090227,sevastopol,"2-к. квартира, 52 м², 1/5 эт.",25000,"ул. Ефремова, 14","Сдается длительно или до лета, от этого зависи...",2024-10-15 11:49:32.758481
246,https://www.avito.ru/3888830033,sevastopol,"Квартира-студия, 21 м², 2/5 эт.",18500,"ул. Маршала Блюхера, 11",Сдам Длительно! Сдам квартиру — студию с кухне...,2024-10-15 11:49:32.758481
821,https://www.avito.ru/2223129363,sevastopol,"1-к. квартира, 43 м², 7/10 эт.",63000,"Парковая ул., 11",Апартамент В Отеле «Аквамарин» + Спа входит в ...,2024-10-15 11:49:32.758481
373,https://www.avito.ru/4403964536,sevastopol,"1-к. квартира, 40 м², 2/9 эт.",20000,"пр-т Октябрьской Революции, 23к1",Сдается однокомнатная квартира возле парка Поб...,2024-10-15 11:49:32.758481
343,https://www.avito.ru/1803995297,sevastopol,"3-к. квартира, 60 м², 4/5 эт.",30000,ул. Ерошенко,Собственник. Сдается квартира с хорошим ремонт...,2024-10-15 11:49:32.758481
72,https://www.avito.ru/2313156736,sevastopol,"4-к. квартира, 100 м², 2/2 эт.",7900,"Фиолентовское ш., 6",Крым. Севастополь. Длительная Аренда. Четырех ...,2024-10-15 11:49:32.758481
238,https://www.avito.ru/4335244146,sevastopol,"3-к. квартира, 80 м², 7/9 эт.",40000,"пр-т Октябрьской Революции, 22/15","Сдаётся длительно 3ком. Квартира, Остановка Па...",2024-10-15 11:49:32.758481
806,https://www.avito.ru/944781911,sevastopol,"3-к. квартира, 80 м², 3/3 эт.",79999,"Наваринская ул., 6",Сдается видовая двухуровневая квартира с терра...,2024-10-15 11:49:32.758481
712,https://www.avito.ru/3413503471,sevastopol,"3-к. квартира, 77,6 м², 4/5 эт.",55000,"ул. Ефремова, 24",Объект №27795. Сдам уютную современную квартир...,2024-10-15 11:49:32.758481

In [5]:
display( len(df_flat) )
df_flat = df_flat[ df_flat['price'].str.match(r'\d+') ].reset_index(drop=True)
display( len(df_flat) )

888

888

In [6]:
from lib.cleaner import CleanerFlat

df_flat = CleanerFlat().transform(df_flat)
display( len(df_flat) )
display(df_flat.sample(9))

888

,url,place,title,price,address,description,ts,nrooms,floor,nfloors,area,is_studio,is_apartment,is_part,is_auction,is_openspace,is_roof,is_SNT,priceM,is_last_floor
366,https://www.avito.ru/4281138186,sevastopol,"1-к. апартаменты, 33 м², 2/2 эт.",22000,"Привольная улица , 4","Сдам большую уютную 1кв на ул Привольная д 4, ...",2024-10-15 11:49:32.758481,1,2,2,33.0,False,True,False,False,False,False,False,0.022000,True
552,https://www.avito.ru/4285085512,sevastopol,"2-к. квартира, 65 м², 8/10 эт.",33000,"улица Колобова, 18/2",Номер объекта: 113849. Сдается на длительный с...,2024-10-15 11:49:32.758481,2,8,10,65.0,False,False,False,False,False,False,False,0.033000,False
503,https://www.avito.ru/4482109338,sevastopol,"1-к. квартира, 37,8 м², 1/5 эт.",22000,"Михайловская улица , 7",Сдается теплая и уютная однокомнатная квартира...,2024-10-15 11:49:32.758481,1,1,5,37.8,False,False,False,False,False,False,False,0.022000,False
193,https://www.avito.ru/1239455278,sevastopol,"3-к. квартира, 70,6 м², 3/3 эт.",49999,"Большая Морская улица , 27",Сдается 3-я квартира в центре Севастополя на д...,2024-10-15 11:49:32.758481,3,3,3,70.6,False,False,False,False,False,False,False,0.049999,True
542,https://www.avito.ru/3922500442,sevastopol,"2-к. квартира, 48 м², 1/1 эт.",22000,"улица Ватутина, 60","Сдается длительно, Ленинский район, в частном ...",2024-10-15 11:49:32.758481,2,1,1,48.0,False,False,False,False,False,False,False,0.022000,True
375,https://www.avito.ru/4278894182,sevastopol,"1-к. квартира, 40 м², 12/12 эт.",20000,"Лабораторное шоссе , 33 к2","Сдаётся длительно, без повышений и вы селений ...",2024-10-15 11:49:32.758481,1,2,12,40.0,False,False,False,False,False,False,False,0.020000,False
205,https://www.avito.ru/3352095842,sevastopol,"1-к. квартира, 32 м², 1/3 эт.",19000,"улица Надежды Краевой, 13",Добрый день! Собственник! Сдам свою квартиру в...,2024-10-15 11:49:32.758481,1,1,3,32.0,False,False,False,False,False,False,False,0.019000,False
822,https://www.avito.ru/4279782989,sevastopol,"квартира-студия, 30 м², 4/10 эт.",70000,"Парковая улица , 15",Сдается длительно абсолютно новая квартира- ст...,2024-10-15 11:49:32.758481,0,4,10,30.0,True,False,False,False,False,False,False,0.070000,False
223,https://www.avito.ru/4357169900,sevastopol,"1-к. квартира, 34,9 м², 3/5 эт.",20000,"улица Богданова, 33",Сдается хорошая 1к квартира на Северной сторон...,2024-10-15 11:49:32.758481,1,3,5,34.9,False,False,False,False,False,False,False,0.020000,False

## обновляем таблицу адресов

In [7]:
from lib.locator import AddressTransformer

atr = AddressTransformer()

places = { 
# поле 'place' и название города
'bahchisaray': 'Бахчисарай,',
      'sudak': 'Судак,',
  'sevastopol': 'Севастополь,',
}

def address_norm(df,atr=atr):
    df['address_orig'] =  df['address']
    df['address'] =  df['address'].apply(atr.transform)
    df['place_'] =  df['place'].map(places)
    df['address'] = df[['address','place_']].apply(lambda d: d[0] if d[1] in d[0] else d[1]+','+d[0],axis=1) 
    df['address'] = (
        df['address']
        .str.replace(', ',',')
        .str.replace(',,',',')
        .str.replace('. ','.')
        .str.replace('\n',' ')
        .str.replace('  ',' ')
        .str.lower()
    )
    return df

In [8]:
df_flat = address_norm(df_flat)

/tmp/ipykernel_9101/776805188.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['address'] = df[['address','place_']].apply(lambda d: d[0] if d[1] in d[0] else d[1]+','+d[0],axis=1)

In [9]:
# df_flat[['address','address_orig']]

In [10]:
address = pd.concat([
        df_flat[['address','address_orig']],
    ]).drop_duplicates(['address']).reset_index(drop=True)

display(len(address))
display(address.sample(5))

658

,address,address_orig
358,"севастополь,улица генерала хрюкина,18","улица Генерала Хрюкина, 18"
148,"севастополь,проспект октябрьской революции,21","проспект Октябрьской Революции, 21"
304,"севастополь,проспект юрия гагарина,38","проспект Юрия Гагарина, 38"
399,"севастополь,улица генерала мельника,68","улица Генерала Мельника, 68"
79,"севастополь,улица багрия,75/5","улица Багрия, 75/5"

In [11]:
from os.path import exists as path_exists
loc_file_path = 'data/location.pkl' # таблица адресов

location = pd.DataFrame([],columns=['address','latitude','longitude',])
if path_exists( loc_file_path ):
    location = pd.read_pickle(loc_file_path).drop_duplicates(['address']).reset_index(drop=True)
    
display(len(location))
display(location.sample(5))

21259

                                                 address   latitude  longitude
17177                    севастополь,ул.ивана яцуненко,6  44.601613  33.582807
20225  судак,республика крым,судак городской округ,с....  44.839297  35.046989
10786      севастополь,район гагаринский,электрон ст ,83  44.559021  33.441017
1986                  севастополь,балаклава,утренняя ул.  44.512316  33.620258
10549  севастополь,район гагаринский,стрелецкая бухта...  44.596447  33.487774

---

In [12]:
# def address_norm_(df):
#     df['address_orig'] =  df['address']
#     # df['address'] =  df['address'].apply(atr.transform)
#     df['address'] = (
#         df['address']
#         .str.replace(', ',',')
#         .str.replace(',,',',')
#         .str.replace('. ','.')
#         .str.replace('\n',' ')
#         .str.replace('  ',' ')
#         .str.lower()
#     )
#     return df

In [13]:
# location = address_norm_(location)

In [14]:
# location = location[['address','latitude','longitude']]

---

In [15]:
# собираем все адреса в один список
location = location.merge(
        address[['address']].drop_duplicates(),
        how='outer',
        on='address',
    ).drop_duplicates(['address']).reset_index(drop=True)

display(len(location))
display(location.sample(5))

21282

                                                 address   latitude  longitude
2053   севастополь,балаклавский район ,нагорная улица,20  44.539223   33.68818
270                бахчисарай,с.верхоречье,высокая ул.,1  44.700499  33.985908
2991                                    севастополь,кача  44.743083  33.551196
4068                         севастополь,охотская ул.,34  44.591087  33.531307
11377  севастополь,район нахимовский,горпищенко,улица...  44.596062  33.559765

In [16]:
display(len(location))
display(location['latitude'].isnull().sum())

21282

23

In [17]:
# собираем все адреса с геопозицией
location_def = location[~location['latitude'].isna()].reset_index(drop=True)
display(len(location_def))

# собираем все адреса без геопозиции
location_undef = location[location['latitude'].isna()][['address']].reset_index(drop=True)
display(len(location_undef))

21259

23

In [18]:
display(location_undef)

                                              address
0                севастополь,6-я бастионная улица ,83
1            севастополь,балаклава,аланская улица ,71
2           севастополь,балаклава,набережная назукина
3                     севастополь,балтийская улица ,9
4   севастополь,гагаринский район ,мкр-н казачья б...
5                севастополь,декоративный бульвар ,55
6                         севастополь,новая улица ,11
7             севастополь,пгт.кача,улица авиаторов,27
8            севастополь,село вилино,улица чапаева,20
9       севастополь,село орловка,качинское шоссе ,35г
10    севастополь,село орловка,качинское шоссе ,38/83
11       севастополь,село песчаное,бассейная улица ,2
12                     севастополь,ст атлантика-2,32а
13                        севастополь,ст дергачи-4,34
14     севастополь,ст радар-с,6-я радарная улица ,13а
15                            севастополь,ст старт,59
16    севастополь,тсн снт учкуевка,малиновая линия,22
17                       севастополь,улица глухова,9а
18                       севастополь,улица одинцова,5
19                       севастополь,улица пожарова,6
20                     севастополь,улица суворова,22а
21                  севастополь,улица челюскинцев,117
22                  севастополь,харьковская улица ,25

In [19]:
from tqdm.auto import tqdm
tqdm.pandas()

In [20]:
# from lib.locator import GeocoderSimpleOSM
from lib.locator import GeocoderYandex
from yandex_keys import keys

atr = AddressTransformer()
locator = GeocoderYandex(keys[0])
# locator = GeocoderSimpleOSM()

if len(location_undef)>0:
    # определяем координаты по строке адреса
    location_undef = location_undef.join( 
            location_undef['address'].progress_apply(locator.transform).apply(pd.Series) 
        ).dropna()     
    display(f'LocationUpdater: {len(location_undef)} new addresses found')
    location = pd.concat([location_def,location_undef]).reset_index(drop=True) 
    assert len(location)>0
    # location.to_pickle(loc_file_path)

  0%|          | 0/23 [00:00<?, ?it/s]

'LocationUpdater: 23 new addresses found'

In [21]:
display( len(location) )
display( location.sample(3) )

21282

                                                address   latitude  longitude
1803  севастополь,балаклава,садоводческое товарищест...  44.503734  33.617581
6188  севастополь,р-н балаклавский,теремок садоводче...  44.513897  33.511768
2489  севастополь,гагаринский район ,казачья бухта,р...  44.565906  33.408705

In [22]:
assert len(location)>0
location.to_pickle(loc_file_path)

## дополняем данные геометкой

In [23]:
display( len(df_flat) )
df_flat  = df_flat.merge(location,on='address').reset_index(drop=True) 
display( len(df_flat) )
display( df_flat.sample(3) )

888

888

,url,place,title,price,address,description,ts,nrooms,floor,nfloors,...,is_auction,is_openspace,is_roof,is_SNT,priceM,is_last_floor,address_orig,place_,latitude,longitude
856,https://www.avito.ru/1923450899,sevastopol,"апартаменты-студия, 45 м², 1/2 эт.",70000,"севастополь,улица челнокова,17/5",Новая уютная студия рядом с пляжем Адмиральска...,2024-10-15 11:49:32.758481,0,1,2,...,False,False,False,False,0.070000,False,"улица Челнокова, 17/5","Севастополь,",44.592756,33.43066
33,https://www.avito.ru/4435737867,sevastopol,"1-к. квартира, 46 м², 1/10 эт.",26999,"севастополь,улица астана кесаева,2",Сдается однокомнатная квартира на длительный п...,2024-10-15 11:49:32.758481,1,1,10,...,False,False,False,False,0.026999,False,"улица Астана Кесаева, 2","Севастополь,",44.586889,33.45212
542,https://www.avito.ru/3922500442,sevastopol,"2-к. квартира, 48 м², 1/1 эт.",22000,"севастополь,улица ватутина,60","Сдается длительно, Ленинский район, в частном ...",2024-10-15 11:49:32.758481,2,1,1,...,False,False,False,False,0.022000,True,"улица Ватутина, 60","Севастополь,",44.584205,33.527453

In [24]:
# display(len(df_flat))
# df_flat = address_filter(df_flat)
# display(len(df_flat))

# display(len(df_land))
# df_land = address_filter(df_land)
# display(len(df_land))

# display(len(df_house))
# df_house = address_filter(df_house)
# display(len(df_house))

In [25]:
assert len(df_flat)>0
df_flat.to_pickle(f'{data_root_folder}/df_flat-arenda.pkl')

In [26]:
!date

Вт 15 окт 2024 11:54:28 MSK